.cartitem {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  border: 1px solid rgb(224, 221, 221);
  padding: 20px;
  border-radius: 10px;

  &__left {
    display: flex;
    align-items: center;
    gap: 50px;
    box-sizing: border-box;
  }
  &__img {
    width: 150px;
    height: 150px;
  }
  &__box {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__title {
      font-family: sans-serif;
      font-size: 18px;
      font-weight: 700;
    }
    &__bottom {
      display: flex;
      align-items: center;
      gap: 100px;
      justify-content: space-between;
    }
    &__name {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
    }
    &__count {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      width: 150px;
      height: 50px;
      border: 1px solid grey;
      border-radius: 10px;
      font-size: 20px;
      font-family: sans-serif;
    }
    &__icon {
      cursor: pointer;
      &:hover {
        color: rgb(45, 101, 255) !important;
      }
    }
  }
  &__right {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 23px;
    font-family: sans-serif;
  }
  &__trashbox {
    text-align: right;
    display: flex;
    align-items: center;
    gap: 5px;

    &:hover {
      cursor: pointer;
      color: red !important;
    }
  }

  &__cheap {
    font-family: sans-serif;
    text-align: right;
    font-weight: 800;
    font-size: 20px;
  }
  &__price {
    text-align: right;
    font-family: sans-serif;
    font-size: 18px;
    opacity: 0.7;
    text-decoration: line-through;
  }
  &__delete {
    text-align: right;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 800;
    opacity: 0.8;
    display: flex;
    align-items: center;
  }
}
