.login {
  width: 100%;

  &__container {
    width: 81%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 100px auto auto;
    height: 500px;
    padding: 50px;
    box-shadow: 4px -3px 10px -2px #000000bf;
    border-radius: 15px;
  }
  &__title {
    display: block;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 12px;
  }
  &__input {
    width: 100%;
    height: 30px;
    margin-top: 40px;
    padding: 20px;
    outline: none;
    border: none;
    background-color: #eee9e9;
    font-size: 18px;
    border-radius: 10px;
    font-family: Courier New, Courier, monospace;
    font-weight: 700;
  }
  &__box {
    display: flex;
    gap: 10px;
    margin: 20px 5px 10px;

    label {
      font-family: Courier New, Courier, monospace;
    }
  }

  &__btn {
    margin-top: 15px;
    width: 132.79px;
    height: 41px;
    border: none;
    border-radius: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    transition: all 0.3s ease-in-out;
    margin-left: auto;
    cursor: pointer;
  }
}

.unsubmit {
  background-color: red;
  opacity: 0.8;
  cursor: no-drop;
}

.submit {
  background-color: green;
  cursor: pointer !important;
}
#checked {
  cursor: pointer !important;
}
