// .navbar {
//   position: sticky;
//   top: 0px;
//   left: 0;
//   background-color: #ffffff;
//   box-shadow: 0 0 7px #404040;
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   z-index: 9999999;

//   &__container {
//     width: 81%;
//     margin: 19px;
//     height: 38px;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     box-sizing: border-box;
//   }

//   &__logo {
//     font-family: "Inter";
//     font-style: normal;
//     font-weight: 700;
//     font-size: 24px;
//     line-height: 24px;
//     color: #000000;
//   }

//   &__links {
//     width: 440px;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }

//   &__link {
//     font-family: "Poppins";
//     font-style: normal;
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 24px;
//     color: #000000;
//     flex: none;
//     order: 0;
//     flex-grow: 0;

//     &:hover {
//       transition: all 1s ease;
//       text-decoration: underline #000000;
//     }

//     &:active {
//       text-decoration: underline #00a3ff;
//     }
//   }
//   &__carticon {
//     display: flex;
//     &:hover {
//       text-decoration: none;
//     }
//   }

//   &__devices {
//     width: 415px;
//     height: 38px;
//     display: flex;
//     align-items: center;
//     gap: 16px;
//   }
//   &__search {
//     width: 243px;
//     height: 38px;
//     border-radius: 4px;
//     background-color: #f5f5f5;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 7px 12px 7px 0;

//     input {
//       border: none;
//       outline: none;
//       background-color: #f5f5f5;
//     }
//   }
//   &__btn {
//     width: 156px !important;
//     height: 38px !important;
//     display: flex;
//     align-items: center;
//     border-radius: 10px;
//     gap: 10px;

//     &__text {
//       font-family: "Poppins";
//       font-style: normal;
//       font-weight: 400;
//       font-size: 12px;
//       line-height: 18px;
//       color: #ffffff;
//       flex: none;
//       order: 1;
//       flex-grow: 0;
//       text-transform: capitalize;
//     }
//   }
//   &__call {
//     width: 18px !important;
//     height: 18px !important;
//   }
//   &__burger {
//     width: 30px;
//     height: 20px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     color: #000000 !important;

//     hr {
//       height: 4px;
//       border: none;
//       background-color: #000000;
//     }
//   }
// }
// .dn {
//   display: none;
// }

// @media (max-width: 1250px) {
//   .navbar {
//     &__devices {
//       display: none;
//     }

//     &__burger {
//       display: flex;
//     }
//   }
// }

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 0 7px #404040;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999999;

  &__container {
    width: 81%;
    margin: 19px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }

  &__logo {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
  }

  &__links {
    width: 440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;

    &:hover {
      transition: all 1s ease;
      text-decoration: underline #000000;
    }

    &:active {
      text-decoration: underline #00a3ff;
    }
  }

  &__carticon {
    display: flex;

    &:hover {
      text-decoration: none;
    }
  }

  &__devices {
    width: 415px;
    height: 38px;
    display: flex;
    align-items: center;
    gap: 16px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__search {
    width: 243px !important;
    height: 38px;
    border-radius: 4px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 12px 7px 12px;
    box-sizing: border-box;

    input {
      // width: 243px;
      height: 38px;
      border: none;
      outline: none;
      background-color: #f5f5f5;
    }

    @media (max-width: 768px) {
      width: 150px;
    }
  }

  &__btn {
    width: 156px !important;
    height: 38px !important;
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 10px;

    &__text {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #ffffff;
      text-transform: capitalize;
    }
  }

  &__call {
    width: 18px !important;
    height: 18px !important;
  }

  &__burger {
    width: 30px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    color: #000000 !important;
    cursor: pointer;

    hr {
      height: 4px;
      border: none;
      background-color: #000000;
    }

    @media (max-width: 768px) {
      display: flex;
    }
  }

  &__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 7px #404040;
    z-index: 1000;
    transition: all 0.3s ease;

    .navbar__search,
    .navbar__btn {
      margin-bottom: 10px;
    }

    &--active {
      display: flex;
    }

    &__link {
      padding: 10px 0;
      text-align: center;
    }
  }
}

@media (max-width: 1250px) {
  .navbar {
    &__devices {
      display: none;
    }

    &__burger {
      display: flex;
    }
  }
}
