.intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__container {
    width: 81%;
    height: 413px;
    border-radius: 20px;
    margin-top: 46px;

    @media (max-width: 1024px) {
      height: 353px;
    }

    @media (max-width: 490px) {
      height: 200px;
    }
  }
  &__slide {
    width: 100%;
    min-height: 413px;
    height: 100%;
    background-image: url("../../.././Assets/img/orqafonoqrang.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex !important;
    border-radius: 20px;

    @media (max-width: 1024px) {
      min-height: 353px;
    }

    @media (max-width: 490px) {
      height: 200px;
      box-sizing: border-box;
      // padding: 15px 10px;
      align-items: center;
      justify-content: space-between;
      min-height: 0px;
    }
  }
  &__texts {
    min-width: 280px !important;
    height: auto;
    margin-top: 94px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;

    @media (max-width: 490px) {
      min-width: 200px !important;
      align-items: center;
      justify-content: space-around !important;
    }
  }
  &__title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;

    @media (max-width: 490px) {
      text-align: center;
      font-size: 28px !important;
      line-height: 40px !important;
    }
  }
  &__text {
    width: 251.67px;
    height: 42px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #9a9a9a;

    @media (max-width: 490px) {
      text-align: center;
      width: 100%;
      font-size: 12px;
    }
  }
  &__btn {
    margin-top: 22px !important;
    width: 132.79px !important;
    height: 41px !important;
    border-radius: 10px !important;

    @media (max-width: 490px) {
      margin-top: 10px !important;
      width: 100px !important;
      height: 35px !important;
    }

    &__text {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #ffffff;
      flex: none;
      order: 0;
      flex-grow: 0;
      display: flex;
      gap: 10px;
      text-transform: none;

      @media (max-width: 490px) {
        font-size: 12px;
      }
    }
  }
  &__image {
    z-index: 999 !important;
    img {
      width: 549px;
      height: 325px;
      margin-top: 44px;
      margin-left: 150px;
    }

    @media (max-width: 1300px) {
      img {
        margin-left: auto;
      }
    }
  }
  &__background {
    display: none;
    img {
      width: none;
      height: none;
    }
  }
}

@media (max-width: 1115px) {
  .intro {
    &__texts {
      // min-width: none;
      width: auto;
      margin: auto;
    }
  }
}

@media (max-width: 1060px) {
  .intro {
    &__image {
      display: none;
      img {
        display: none;
      }
    }
  }
}
